<?xml version="1.0" encoding="GB2312" ?>
<groups>
	<group name="开发语言">
		<button content="PYTHON" enable="true" program="E:\Python\JetBrains\PyCharm Community Edition 2017.2\bin\pycharm64.exe" args="" workdirectory="" />
		<button content="VS2015" enable="true" program="E:\Microsoft Visual Studio 14.0\Common7\IDE\devenv.exe" args="" workdirectory="" />
	</group>
	<group name="开发工具">
		<button content="VMWARE" enable="true" program="E:\VMware\VMware Workstation\vmware.exe" args="" workdirectory="" />
		<button content="XSHELL" enable="true" program="E:\NetSarang\Xmanager Enterprise 5\Xshell.exe" args="" workdirectory="" />
		<button content="XFTP" enable="true" program="E:\NetSarang\Xmanager Enterprise 5\Xftp.exe" args="" workdirectory="" />
		<button content="DEPENDS" enable="true" program="E:\Tools\depends\DEPENDS.EXE" args="" workdirectory="" />
		<button content="UE" enable="true" program="E:\UltraEdit-32\Uedit32.exe" args="" workdirectory="" />
		<button content="TC" enable="true" program="E:\totalcmd\TOTALCMD.EXE" args="" workdirectory="" />
	</group>
	<group name="工作工具">
		<button content="WORD" enable="true" program="C:\Program Files\Microsoft Office\Office14\WINWORD.EXE" args="" workdirectory="" />
		<button content="EXCEL" enable="true" program="C:\Program Files\Microsoft Office\Office14\EXCEL.EXE" args="" workdirectory="" />
		<button content="VISIO" enable="true" program="C:\Program Files\Microsoft Office\Office14\VISIO.EXE" args="" workdirectory="" />
		<button content="PPT" enable="true" program="C:\Program Files\Microsoft Office\Office14\POWERPNT.EXE" args="" workdirectory="" />
		<button content="OUTLOOK" enable="true" program="C:\Program Files\Microsoft Office\Office14\OUTLOOK.EXE" args="" workdirectory="" />
		<button content="ONENOTE" enable="true" program="C:\Program Files\Microsoft Office\Office14\ONENOTE.EXE" args="F:\MyWork\OneNote\工作\集中交易业务.one" workdirectory="" />
	</group>
	<group name="快捷目录">
		<button content="PBOX" enable="true" program="explorer.exe" args="E:\secu\PBOX" workdirectory="" />
	</group>
</groups>